body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(6, 77, 70);
  color: white;
}

button, input, form, p {
  margin: 10px;
}

li {
  list-style: none;
}
